body {
    font-family: Arial, sans-serif;
}

#tableau {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-15%, -70%);
}

.container,
.container-fluid {
    margin-top: 75px;
}

.th {
    text-align: left;
    left: 5px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}